Repository cabadany/TimEd, pull requests merged in 2025-04, with the labels that each got.

#12 Adding Profile Page with attendance sheet Pop Up V1
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/HomeActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/res/drawable/ic_profile_filled.xml
  mobile/app/src/main/res/drawable/maroon_button_background.xml
  mobile/app/src/main/res/drawable/profile_placeholder.xml
  mobile/app/src/main/res/layout/attendance_download_dialog.xml
  mobile/app/src/main/res/layout/profile_page.xml
  mobile/app/src/main/res/layout/success_popup_attendance_download.xml
Labels: mobile-frontend

#16 Adding Schedule Page UI V1 - Frontend Mobile
  mobile/.idea/misc.xml
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/HomeActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ScheduleActivity.kt
  mobile/app/src/main/res/drawable/schedule_circle_maroon.xml
  mobile/app/src/main/res/drawable/schedule_circle_orange.xml
  mobile/app/src/main/res/drawable/schedule_circle_yellow.xml
  mobile/app/src/main/res/layout/schedule_page.xml
  mobile/app/src/main/res/values/strings.xml
Labels: mobile-frontend

#17 Adding Change Password Page UI for Teacher Account - Frontend Mobile
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/ChangePasswordActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/res/layout/change_password_page.xml
  mobile/app/src/main/res/layout/success_popup_changepassword.xml
  mobile/app/src/main/res/values/strings.xml
Labels: mobile-frontend

#20 Adding Edit Profile Page V1 - Frontend Mobile
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/EditProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/HomeActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/res/drawable/edit_profile_circle_yellow.xml
  mobile/app/src/main/res/drawable/ic_edit.xml
  mobile/app/src/main/res/drawable/ic_success.xml
  mobile/app/src/main/res/layout/edit_profile_page.xml
  mobile/app/src/main/res/layout/success_popup_edit_profile.xml
  mobile/app/src/main/res/values/strings.xml
Labels: mobile-frontend

#22 Added camera functionality and improved TimeInActivity UI
  mobile/app/build.gradle.kts
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/HomeActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/TimeInActivity.kt
  mobile/app/src/main/res/drawable/focus_circle.xml
  mobile/app/src/main/res/layout/camera_preview_layout.xml
  mobile/app/src/main/res/layout/home_page.xml
  mobile/app/src/main/res/layout/success_popup_time_in.xml
  mobile/app/src/main/res/layout/time_in_page.xml
  mobile/app/src/main/res/values/strings.xml
Labels: mobile-frontend

#27 Resolve another Merge Conflicts for backend
  mobile/.idea/misc.xml
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/TimeInActivity.kt
Labels: mobile-backend

#28 Adding Splash Screen
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/SplashActivity.kt
  mobile/app/src/main/res/anim/fade_in.xml
  mobile/app/src/main/res/anim/slide_up.xml
  mobile/app/src/main/res/anim/zoom_in.xml
  mobile/app/src/main/res/drawable/app_logo.xml
  mobile/app/src/main/res/drawable/logo_draft.png
  mobile/app/src/main/res/layout/splash_screen.xml
  mobile/app/src/main/res/values/themes.xml
Labels: mobile-frontend

#29 Fixed Button color and the pop up center alignment
  mobile/.idea/AndroidProjectSystem.xml
  mobile/.idea/dbnavigator.xml
  mobile/.idea/misc.xml
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/timed_mobile/ChangePasswordActivity.kt
  mobile/app/src/main/res/drawable/ic_download_file.xml
  mobile/app/src/main/res/layout/attendance_download_dialog.xml
  mobile/app/src/main/res/layout/change_password_page.xml
  mobile/app/src/main/res/layout/success_popup_changepassword.xml
  mobile/app/src/main/res/layout/success_popup_edit_profile.xml
  mobile/app/src/main/res/layout/success_popup_time_in.xml
  mobile/app/src/main/res/layout/success_popup_time_out.xml
  mobile/app/src/main/res/layout/successs_popup_excuse_letter.xml
Labels: mobile-frontend

#34 Change vector bg into animated vector for all pages - Mobile Frontend
  mobile/app/src/main/java/com/example/timed_mobile/ChangePasswordActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/EditProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ExcuseLetterActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/HomeActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ScheduleActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/TimeInActivity.kt
  mobile/app/src/main/res/animator/wave_animation_1.xml
  mobile/app/src/main/res/animator/wave_animation_2.xml
  mobile/app/src/main/res/layout/change_password_page.xml
  mobile/app/src/main/res/layout/edit_profile_page.xml
  mobile/app/src/main/res/layout/excuse_letter_page.xml
  mobile/app/src/main/res/layout/home_page.xml
  mobile/app/src/main/res/layout/login_page.xml
  mobile/app/src/main/res/layout/profile_page.xml
  mobile/app/src/main/res/layout/schedule_page.xml
  mobile/app/src/main/res/layout/time_in_page.xml
Labels: mobile-frontend

#35 Added Entity to Entity relations
  backend/TimEd/src/main/java/com/capstone/TimEd/controller/AttendanceController.java
  backend/TimEd/src/main/java/com/capstone/TimEd/controller/EventController.java
  backend/TimEd/src/main/java/com/capstone/TimEd/controller/UserController.java
  backend/TimEd/src/main/java/com/capstone/TimEd/dto/Eventdto.java
  backend/TimEd/src/main/java/com/capstone/TimEd/dto/RegisterRequest.java
  backend/TimEd/src/main/java/com/capstone/TimEd/model/Department.java
  backend/TimEd/src/main/java/com/capstone/TimEd/model/Event.java
  backend/TimEd/src/main/java/com/capstone/TimEd/model/User.java
  backend/TimEd/src/main/java/com/capstone/TimEd/service/AttendanceService.java
  backend/TimEd/src/main/java/com/capstone/TimEd/service/AuthService.java
  backend/TimEd/src/main/java/com/capstone/TimEd/service/EventService.java
  backend/TimEd/src/main/java/com/capstone/TimEd/service/FirebaseService.java
Labels: backend-web

#39 Fixing Logout and the Scan Wifi and Proceed Functionalities - Mobile Backend
  .idea/.gitignore
  .idea/TimEd.iml
  .idea/google-java-format.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/SplashActivity.kt
Labels: mobile-backend

#41 Adding Face Detection Machine Learning and some fixing parts for the alignment and layout other pages - Mobile Frontend
  mobile/app/build.gradle.kts
  mobile/app/src/main/java/com/example/timed_mobile/FaceBoxOverlay.kt
  mobile/app/src/main/java/com/example/timed_mobile/ProfileActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/ScheduleActivity.kt
  mobile/app/src/main/java/com/example/timed_mobile/TimeInActivity.kt
  mobile/app/src/main/res/drawable/ic_back_button.xml
  mobile/app/src/main/res/layout/change_password_page.xml
  mobile/app/src/main/res/layout/edit_profile_page.xml
  mobile/app/src/main/res/layout/excuse_letter_page.xml
  mobile/app/src/main/res/layout/home_page.xml
  mobile/app/src/main/res/layout/profile_page.xml
  mobile/app/src/main/res/layout/schedule_page.xml
  mobile/app/src/main/res/layout/success_popup_attendance_download.xml
  mobile/app/src/main/res/layout/success_popup_edit_profile.xml
  mobile/app/src/main/res/layout/success_popup_time_in.xml
  mobile/app/src/main/res/layout/success_popup_time_out.xml
  mobile/app/src/main/res/layout/successs_popup_excuse_letter.xml
  mobile/app/src/main/res/layout/time_in_event_page.xml
  mobile/app/src/main/res/layout/time_in_page.xml
  mobile/app/src/main/res/values/colors.xml
Labels: mobile-backend, mobile-frontend
